<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%%- meta %>

    <%%- title %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css">

    <%%- link %>

    <%%- style %>

    <style id="jss-server-side">
        <%%- materialCss %>
    </style>

</head>
<body>
<div id="root"><%%- appString  %></div>
<script>
  window.__INITIAL_STATE__ = <%%- initalState %>
</script>
</body>
</html>
